// colors
@white:         #FFF;
@black:         #000;
@primary:       #00BEF0;

@box-shadow:    #3DADB7;
@header-bg:     #094358;
@confirmation:  #4BD59C;
@delete-bin:    #939598;
@attach:        #E1E1E1;
@disabled-btn:  #E0E0E0;
@disabled-text: #939598;

//gradients
@layout-background: linear-gradient(@primary, #50D2DC);